@{
    ViewBag.Title = "Thunder Change - About";
}

<div class="row">
    <div class="col-md-9">
        <h2>About</h2>

        <p>This project was part of a code challenge for The Nerdery in Chicago.  The main requirements for the project were:</p>

        <ul>
            <li>Must be programmed using C# utilizing a web framework.</li>
            <li>Write a class method to give the optimal change (from silver dollar to penny) based on a given input value.</li>
            <li>Ideal output should be in a Dictionary or Hash collection of values with totals.</li>
        </ul>

        <p>
            The program was completed using ASP.Net MVC (C# with Razor views), Bootstrap, and some very light JQuery.  I would like
            thank Gregg, Ian, and the entire team for welcoming me out to the office.  If you would like a brief overview of my
            past projects you can do so on <a href="https://www.linkedin.com/in/joseph-anger-32a92984" target="_blank">LinkedIn</a> or on my <a href="http://angerj.com/" target="_blank">online portfolio</a>.
        </p>
    </div>
    <div class="col-md-3"><img src="@Url.Content("~/Content/Images/ColorWheel.jpg")" alt="Magic Color Pie"  class="rowimg" /></div>
</div>



